.submit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button svg {
    display: block;
}

.submit-button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.submit-button svg {
    width: 3vw;
    height: 3vw;
}