.menu {
    width: 7vw;
    height: 40vw;
    flex-shrink: 0;
    border-radius: 0vw 1.5vw 1.5vw 0vw;
    background: linear-gradient(180deg, #BE0503 0%, #020873 100%);
    position: relative;
    left: 0%;
    top: 15%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.menu-decor {
    width: 0.3vw;
    height: 4.5vw;
    flex-shrink: 0;
    border-radius: 0.3vw 0vw 0vw 0.3vw;
    background: #FFF;
    position: absolute;
    right: 0%;
    top: 3%;
}