.header-container {
    display: flex;
    width: 60vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    gap: 4vw;
}

.logo {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 3.5vw;
    height: auto;
}

.title {
    color: #251659;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.submit-button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.submit-button svg {
    width: 3vw;
    height: 3vw;
}

.user-profile {
    width: 4.5vw;
    height: 4.5vw;
    flex-shrink: 0;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.10);
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    position: absolute;
}

.user-profile:hover {
    border: 0.1vw solid white;
}